@use '../abstracts' as *;

html {
  font-size: small;
}

body {
  font-family: $font-base;
  font-size: $font-size-md;
  color: $color-gray-700;
  background-color: $color-bg;
  line-height: $line-height-base;
}

h1,
h2,
h3,
h4,
h5 {
  size: $font-size-xxl;
  font-weight: $font-weight-bold;
}

p {
  font-size: $font-size-xs;
}

a {
  font-size: $font-size-md;
  width: fit-content;
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(#ffffff 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
}

a:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: start;
  max-width: 50rem;
  width: 20rem;
}

label {
  font-size: $font-size-xs;
}

button {
  width: fit-content;
  border-radius: 30px;
  border-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  transition: all 0.5s ease-out;
  background-color: $color-primary;
  font-size: $font-size-md;
  font-weight: $font-weight-bold;
  color: white;
}

button .cancel {
  background-color: grey;
}

input,
textarea {
  font-size: $font-size-md;
}

button:hover {
  background-color: $color-primary-dark;
  cursor: pointer;
}
