@use '../abstracts' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: $color-primary;
  transition: margin-right 4s;
}
