$font-base: 'Inter', sans-serif;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;

$line-height-base: 1.5;
$font-weight-normal: 400;
$font-weight-bold: 700;
